<template>
  <div class="secondary">
    <v-img :gradient="gradient" dark :src="mainImage" height="100%">
      <v-container fill-height style="margin-top:60px">
        <v-layout align-center>
          <v-flex text-xs-center>
            <h3 class="display-3 white--text">Cryptamble Casino</h3>
            <br />
            <h3 class="display-1 white--text">{{$t("about.content.syntax")}}</h3>
            <br />
            <v-layout align-center justify-center row wrap>
              <v-flex xs12 md4>
                <v-container>
                  <h3 class="display-2 white--text">White Paper</h3>
                  <br />
                  <v-btn
                    large
                    flat
                    outline
                    color="white"
                    target="_blank"
                    href="/whitepaper-korea.pdf"
                    dark
                  >Korean</v-btn>
                </v-container>
              </v-flex>
              <v-flex xs12 md4>
                <v-container>
                  <h3 class="display-2 white--text">Game Manual</h3>
                  <br />
                  <v-btn
                    large
                    flat
                    outline
                    color="white"
                    target="_blank"
                    href="/GameManual-korea.pdf"
                    dark
                  >Korean</v-btn>
                </v-container>
              </v-flex>
            </v-layout>
            <br />
            <br />

            <BottomArrow @click="click" />
          </v-flex>
        </v-layout>
      </v-container>
    </v-img>
    <Clock id="target" v-if="startDate" :endDate="startDate" title="Pre-sale Start" />

    <v-container style="padding-top:60px">
      <v-layout row wrap>
        <v-flex md4 xs12 text-xs-center v-for="(img,n) in imgs" :key="n">
          <Card class="secondary white--text" :img="img" :text="$t(`about.icons.${n}.syntax`)" />
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>


<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import Card from "../base/VerticalIconCard.vue";
import Arrow from "../base/Arrow.vue";
import BottomArrow from "../base/BottomArrow.vue";
import Divider from "../base/Divider.vue";
import Clock from "../base/Clock.vue";

@Component({
  components: {
    Card,
    Arrow,
    BottomArrow,
    Clock
  }
})
export default class About extends Vue {
  gradient = "to bottom, rgba(7, 55, 79, 0.5), rgb(7, 55, 79)";
  mainImage = `${this["$apiUrl"]}/uploads/5144c95857d247aba813f44bf4c9d63d.jpg`;
  startDate = null;
  imgs = [
    `${this["$apiUrl"]}/uploads/03b7617986584e0f9900236808ce2cca.png`,
    `${this["$apiUrl"]}/uploads/1f5f48fd593f4f8c94d5fdb99a97115c.png`,
    `${this["$apiUrl"]}/uploads/1b7d303264f541588992488a22b2c363.png`
  ];

  click() {
    this["$vuetify"].goTo("#target", { Duration: 500 });
  }

  async created() {
    try {
      this.startDate = await this["$strapi"]["request"](
        "get",
        "/crowdsaleinfos/start"
      );
      console.log("startDate: " + this.startDate);
    } catch (err) {
      console.log("err: " + err);
    }
  }
}
</script>


<style scoped>
img {
  object-fit: fill;
}
.back-img {
  background-attachment: scroll;
  background-image: url("https://static.tildacdn.com/tild3930-6136-4237-b933-383939643639/bg_1.png");
  transform: translateY(-3px);
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("https://static.tildacdn.com/tild3930-6136-4237-b933-383939643639/bg_1.png");
}
</style>
