<template>
  <div class="secondary">
    <v-container fill-height>
      <v-layout align-center>
        <v-flex text-xs-center>
          <h3 class="display-3 white--text">Crowdsale</h3>

          <v-layout row wrap>
            <v-flex xs12>
              <v-card>
                <v-list two-line class="secondary">
                  <v-container>
                    <template v-for="(item,n) in crowdsales">
                      <v-list-tile :key="n">
                        <v-layout>
                          <v-flex xs6>{{item.title}}</v-flex>
                          <v-flex xs6>{{item.content}}</v-flex>
                        </v-layout>
                      </v-list-tile>
                      <v-divider :key="item.title" />
                    </template>
                  </v-container>
                </v-list>
              </v-card>
            </v-flex>
            <v-flex xs6>
              <v-card class="secondary">
                <v-container>
                  <h3>{{`${crowdsale.bonus}% bonus`}}</h3>
                  <h3>{{$t("crowdsale.open.month-day.syntax",crowdsale.open)}}</h3>
                </v-container>
              </v-card>
            </v-flex>
            <v-flex xs6>
              <v-card class="secondary">
                <v-container>
                  <h3>{{`${crowdsale.bonus}% bonus`}}</h3>

                  <h3>{{$t("crowdsale.close.month-day.syntax",crowdsale.close)}}</h3>
                </v-container>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Vue, Component, mixins } from "nuxt-property-decorator";
import CustomBtn from "../base/CustomBtn.vue";
import { State, Action } from "vuex-class";
import { ACTIONS, NAME } from "../../store/modules/user/constants";
import Crowdsale from "../../mixins/Crowdsale.vue";

@Component({
  components: {
    CustomBtn
  }
})
export default class CrowdsaleComponent extends mixins(Crowdsale) {
  crowdsales = [];
  crowdsalesSetting() {
    let arr = [];

    const preSaleText = this.crowdsale.saleCount > 0 ? "syntax" : "text";

    arr.push({
      title: this.$t(`crowdsale.open.title.${preSaleText}`, [
        this.crowdsale.saleCount
      ]),
      content: this.$t(`crowdsale.open.content.syntax`, this.crowdsale.open)
    });
    arr.push({
      title: this.$t(`crowdsale.close.title.${preSaleText}`, [
        this.crowdsale.saleCount
      ]),
      content: this.$t("crowdsale.close.content.syntax", this.crowdsale.close)
    });
    arr.push({
      title: this.$t("crowdsale.total.title.syntax"),
      content: `${this.crowdsale.total} ${this.crowdsale.symbol}`
    });
    arr.push({
      title: this.$t("crowdsale.hardCap.title.syntax"),
      content: `${this.crowdsale.hardCap} ${this.crowdsale.symbol}`
    });
    // arr.push({
    //   title: this.$t("crowdsale.softCap.title.syntax"),
    //   content: `${this.crowdsale.softCap} ${this.crowdsale.symbol}`
    // });
    arr.push({
      title: this.$t("crowdsale.price.title.syntax"),
      content: `1KRW -  ${this.crowdsale.price}${this.crowdsale.symbol}`
    });
    arr.push({
      title: this.$t("crowdsale.enableGood.title.syntax"),
      content: `${this.crowdsale.enableGood}`
    });

    this.crowdsales = arr;
  }

  async created() {
    await this.callCrowdsale();
    this.crowdsalesSetting();
  }
}
</script>

