<template>
  <div class="secondary">
    <v-container fill-height>
      <v-layout row align-center>
        <v-flex text-xs-center>
          <h3 class="display-3 white--text">Video</h3>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container fill-height>
      <!-- <v-flex text-xs-center>
          <h3 class="display-3 white--text">IDEOLOGY</h3>
          <br />
          <br />
          <h3
            class="display-1 white--text"
          >BitRent platform enables each person on the Earth to their assets and become an owner of commercial and residential property objects. We simplify the process of buying hotels, businesses and shopping centers making it easy affordable for everyone.</h3>
          <br />
          <br />
          <h3 class="display-1 white--text">The scheme of various smart contracts work</h3>
      </v-flex>-->

      <v-layout align-center justify-center row fill-height>
        <video controls :src="src"></video>
      </v-layout>
    </v-container>
    <!-- <v-container fill-height>
      <v-layout row wrap>
        <v-flex md6 xs12>
          <v-container>
            <horizontalIconCard
              class="secondary white--text"
              img="https://static.tildacdn.com/tild3032-3538-4138-a330-393038333661/house.png"
              text="Investments are protected by records in the decentralized registry"
              header="Globalism and visibility"
            />
          </v-container>
        </v-flex>
        <v-flex md6 xs12>
          <v-container>
            <horizontalIconCard
              class="secondary white--text"
              img="https://static.tildacdn.com/tild3032-3538-4138-a330-393038333661/house.png"
              text="Investments are protected by records in the decentralized registry"
              header="Globalism and visibility"
            />
          </v-container>
        </v-flex>
        <v-flex md6 xs12>
          <v-container>
            <horizontalIconCard
              class="secondary white--text"
              img="https://static.tildacdn.com/tild3032-3538-4138-a330-393038333661/house.png"
              text="Investments are protected by records in the decentralized registry"
              header="Globalism and visibility"
            />
          </v-container>
        </v-flex>
        <v-flex md6 xs12>
          <v-container>
            <horizontalIconCard
              class="secondary white--text"
              img="https://static.tildacdn.com/tild3032-3538-4138-a330-393038333661/house.png"
              text="Investments are protected by records in the decentralized registry"
              header="Globalism and visibility"
            />
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>-->
  </div>
</template>


<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import Card from "../base/VerticalIconCard.vue";
import horizontalIconCard from "../base/horizontalIconCard.vue";
import Divider from "../base/Divider.vue";

@Component({
  components: {
    Card,
    horizontalIconCard,
    Divider
  }
})
export default class Product extends Vue {
  src = `${process.env.apiUrl}/uploads/c6e56b05687040b393d067970e2dede9.mp4`;
  videoOptions = {
    autoplay: true,
    controls: true,
    sources: [
      {
        src: "",
        type: "video/mp4"
      }
    ]
  };
}
</script>


<style scoped>
video {
  max-width: 640px;
  width: 100%;
}
</style>
