<template>
  <div class="secondary">
    <v-container fill-height>
      <v-layout align-center>
        <v-flex text-xs-center>
          <h3 class="display-3 white--text">
            CRYPTAMBLE
            <br />Casino
          </h3>
          <br />
          <br />
          <!-- <h3 class="display-1 white--text">
            Our goal is to develop a platform based on blockchain technology and attract construction industry investments.
            <br />Investment objects stand for building constructed with tags integrated in all constructional elements.
          </h3>
          <br />
          <br />
          <h3 class="display-1 white--text">The scheme of various smart contracts work</h3>-->
        </v-flex>
      </v-layout>
    </v-container>
    <!-- <v-container fill-height>
      <v-layout row wrap>
        <v-flex md3 xs12 text-xs-center>
          <Card
            class="secondary white--text"
            img="https://static.tildacdn.com/tild3032-3538-4138-a330-393038333661/house.png"
            text="Integrating RFID tags into all significant elements that are formed into groups, 
based on work type, by our software system. This information is displayed 
on the BIM model"
          />
        </v-flex>
        <v-flex md3 xs12 text-xs-center>
          <Card
            class="secondary white--text"
            img="https://static.tildacdn.com/tild3032-3538-4138-a330-393038333661/house.png"
            text="Integrating RFID tags into all significant elements that are formed into groups, 
based on work type, by our software system. This information is displayed 
on the BIM model"
          />
        </v-flex>
        <v-flex md3 xs12 text-xs-center>
          <Card
            class="secondary white--text"
            img="https://static.tildacdn.com/tild3032-3538-4138-a330-393038333661/house.png"
            text="Integrating RFID tags into all significant elements that are formed into groups, 
based on work type, by our software system. This information is displayed 
on the BIM model"
          />
        </v-flex>
        <v-flex md3 xs12 text-xs-center>
          <Card
            class="secondary white--text"
            img="https://static.tildacdn.com/tild3032-3538-4138-a330-393038333661/house.png"
            text="Integrating RFID tags into all significant elements that are formed into groups, 
based on work type, by our software system. This information is displayed 
on the BIM model"
          />
        </v-flex>
      </v-layout>
    </v-container>-->

    <v-container>
      <v-layout row wrap>
        <v-flex text-xs-center>
          <!-- <h3 class="display-1 white--text">The main stages of our platform</h3>
          <br />
          <br />-->
          <v-img v-if="locale" :src="centerImage" />
          <!-- <br />
          <br />
          <h3 class="display-1 white--text">The main stages of our platform</h3>-->
        </v-flex>
      </v-layout>

      <Doughnut class="mt-5" :labels="labels" :colors="colors" :datas="datas" />
    </v-container>

    <!-- <v-container>
      <v-layout row wrap>
        <v-flex v-for="(item,n) in arrowImages" :key="item.src" md4 xs12 text-xs-center>
          <v-container>
            <Card
              :header="n+1"
              :arrow="(n%3) ? true:undefined"
              class="secondary white--text"
              :img="item.src"
              :text="item.text"
            />
          </v-container>
        </v-flex>
      </v-layout>
      <Doughnut :labels="labels" :colors="colors" :datas="datas" />
    </v-container>-->
  </div>
</template>


<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import Card from "../base/VerticalIconCard.vue";
import horizontalIconCard from "../base/horizontalIconCard.vue";
import Doughnut from "../chart/Doughnut.vue";
import { State } from "vuex-class";

@Component({
  components: {
    Card,
    horizontalIconCard,
    Doughnut
  }
})
export default class Product extends Vue {
  length: number = 9;
  labels = [
    "Sale  25억",
    "Event&Reward 12.5억 ",
    "Marketing 12.5억",
    "Partner 10억",
    "community 5억",
    "Airdrpp 5억",
    "Team  10억"
  ];
  colors = [
    "#5E3183",
    "#58528B",
    "#527292",
    "#4D8998",
    "#499E9D",
    "#104F89",
    "#084F89"
  ];
  datas = [25, 12.5, 12.5, 10, 5, 5, 10];
  apiUrl = this["$apiUrl"];

  @State(state => state.locale.locale)
  locale!: String;

  centerImage = "";

  created() {
    this.centerImage = `/casino_${this.locale}.png`;
  }
}
</script>
