
<template>
  <div class="secondary">
    <v-container fill-height>
      <v-layout align-center>
        <v-flex text-xs-center>
          <h3 class="display-3 white--text">RoadMap</h3>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container fill-height>
      <v-layout align-center justify-center row fill-height>
        <v-timeline>
          <v-timeline-item v-for="(year, i) in roadmap" :key="i" :color="year.color" small>
            <template v-slot:opposite>
              <span :class="`headline font-weight-bold ${year.color}--text`" v-text="year.year"></span>
            </template>
            <div class="py-3">
              <h2 :class="`headline font-weight-light mb-3 ${year.color}--text`">{{year.text}}</h2>
            </div>
          </v-timeline-item>
        </v-timeline>
      </v-layout>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";

@Component
export default class RoadMap extends Vue {
  years = [
    {
      color: "cyan"
    },
    {
      color: "green"
    },
    {
      color: "pink"
    },
    {
      color: "amber"
    },
    {
      color: "orange"
    },
    {
      color: "cyan"
    }
  ];

  roadmap = [];

  created() {
    this.years["forEach"]((el, index) => {
      this.roadmap.push({
        ...el,
        year: this.$t(`roadmap.${index}.title`),
        text: this.$t(`roadmap.${index}.syntax`)
      });
    });
  }
}
</script>
