<template>
  <v-card color="secondary" dark flat tile>
    <v-window v-model="onboarding">
      <v-window-item v-for="n in length" :key="`card-${n}`">
        <v-container>
          <v-layout row wrap fill-height align-center justify-center>
            <template v-for="j in imageCount">
              <v-flex
                :class="`xs${12/imageCount}`"
                :key="j"
                v-if="(j-1)+((n-1)*imageCount) < images.length"
              >
                <v-container>
                  <v-img :src="images[(j-1)+((n-1)*imageCount)]" />
                </v-container>
              </v-flex>
            </template>
          </v-layout>
        </v-container>
      </v-window-item>
    </v-window>

    <v-card-actions class="justify-space-between">
      <v-btn flat @click="prev">
        <v-icon>mdi-chevron-left</v-icon>
      </v-btn>
      <v-item-group v-model="onboarding" class="text-xs-center" mandatory>
        <v-item v-for="n in length" :key="`btn-${n}`">
          <v-btn slot-scope="{ active, toggle }" :input-value="active" icon @click="toggle">
            <v-icon>mdi-record</v-icon>
          </v-btn>
        </v-item>
      </v-item-group>
      <v-btn flat @click="next">
        <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component
export default class SlideLogos extends Vue {
  length: number = 0;
  imageCount: number = 4;
  onboarding: number = 0;
  cLen: number = 6;
  apiUrl = this["$apiUrl"];
  images = [
    // `${this.apiUrl}/uploads/f4a1aba8d80744bb94a5ca79a8daadc0.png`,
    // `${this.apiUrl}/uploads/6bc75653ab7641f797c556a32519e57d.png`,
    // `${this.apiUrl}/uploads/949b82c956f1452788c42e80be5e9ecc.png`,
    // `${this.apiUrl}/uploads/c43e89fd3aa943e783233e60373dd026.png`,
    `${this.apiUrl}/uploads/c4d0608e972b40c98bd79c26f3653a2e.png`,
    `${this.apiUrl}/uploads/ca750c15a6744090af1df69d89e1f69c.png`,
    `${this.apiUrl}/uploads/71d043570f8f491cb079d2b064f2d764.png`,
    `${this.apiUrl}/uploads/c0f37c07480545c79ed7fc887aff1d30.png`
  ];

  next() {
    this.onboarding =
      this.onboarding + 1 === this.length ? 0 : this.onboarding + 1;
  }

  prev() {
    this.onboarding =
      this.onboarding - 1 < 0 ? this.length - 1 : this.onboarding - 1;
  }

  created() {
    this.length =
      this.images.length % this.imageCount
        ? this.images.length / this.imageCount + 1
        : this.images.length / this.imageCount;
  }
}
</script>
