<template>
  <div>
    <slot>
      <p>You're not supposed to render this component empty.</p>
    </slot>
  </div>
</template>


<script lang="ts">
import Vue from "vue";
import VueTypes from "vue-types";

export default Vue.extend({
  name: "AccountKit",
  props: {
    appId: VueTypes.string.isRequired,
    debug: VueTypes.bool.def(true),
    display: VueTypes.oneOf(["popup", "modal"]).def("modal"),
    fbAppEventsEnabled: VueTypes.bool.def(false),
    redirect: VueTypes.string,
    state: VueTypes.string.isRequired,
    version: VueTypes.string.isRequired,
    /** callback to login function */
    loginType: VueTypes.oneOf(["PHONE", "EMAIL"]).def("PHONE"),
    /** @see https://developers.facebook.com/docs/accountkit/languages */
    language: VueTypes.string.def("en_US"),
    autoInit: VueTypes.bool.def(true)
  },
  mounted() {
    if (!(<any>window).AccountKit && this.autoInit) {
      this.initAccountKit();
    }
  },

  methods: {
    initAccountKit() {
      const tag = document.createElement("script");
      tag.setAttribute(
        "src",
        `https://sdk.accountkit.com/${this.language}/sdk.js`
      );
      tag.setAttribute("id", "account-kit");
      tag.setAttribute("type", "text/javascript");
      tag.onload = () => {
        /* eslint-disable camelcase */
        (<any>window).AccountKit_OnInteractive = this.onLoad.bind(this);
        /* eslint-enable camelcase */
      };
      document.head.appendChild(tag);
    },

    /**
     * Implementation of AccountKit_OnInteractive
     * Initializes the facebook authentication kit calling the init function.
     * @see https://developers.facebook.com/docs/accountkit/webjs/reference
     */
    onLoad() {
      const {
        appId,
        debug,
        display,
        fbAppEventsEnabled,
        redirect,
        state,
        version
      } = this.$props;
      (<any>window).AccountKit.init({
        appId,
        debug,
        display,
        fbAppEventsEnabled,
        redirect,
        state,
        version
      });
    },
    /** console.log
     * @param {*} loginParams @see https://developers.facebook.com/docs/accountkit/webjs/reference
     */
    login(loginParams, callback) {
      (<any>window).AccountKit.login(this.loginType, loginParams, callback);
    }
  }
});
</script>
