<template>
  <v-footer dark height="auto">
    <v-card flat tile class="primary white--text text-xs-center" width="100%">
      <v-card-text>
        <v-btn v-for="icon in icons" :key="icon" class="mx-3 white--text" icon>
          <v-icon size="24px">favorite</v-icon>
        </v-btn>

        <v-btn
          type="a"
          target="_blink"
          href="https://open.kakao.com/o/gV5YyWvb"
          class="mx-3 white--text"
          icon
        >
          <v-icon size="24px">fas fa-comment</v-icon>
        </v-btn>
      </v-card-text>

      <v-card-text class="white--text pt-0">contact@cryptamble.com</v-card-text>

      <v-divider></v-divider>

      <v-card-text class="white--text">
        Copyright &copy; 2019 —
        <strong>Cryptamble</strong>
        All rights reserved.
      </v-card-text>
    </v-card>
  </v-footer>
</template>
<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";

@Component
export default class HeaderComponent extends Vue {
  icons = [
    "fab fa-facebook",
    "fab fa-twitter",
    "fab fa-google-plus",
    "fab fa-linkedin"
  ];
}
</script> 