<template>
  <div class="fiexd">
    <v-toolbar dark color="primary" height="60px">
      <v-toolbar-title>Cryptamble</v-toolbar-title>
      <v-btn
        flat
        v-for="(item,index) in items"
        :key="index"
        class="hidden-md-and-down"
        @click="doAction(index)"
      >{{item.id}}</v-btn>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>favorite</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>favorite</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>favorite</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>favorite</v-icon>
      </v-btn>

      <v-btn
        v-if="!user"
        round
        dark
        class="hidden-md-and-down"
        @click="$router.push($i18n.path('login'))"
      >{{$t("signin.title")}}</v-btn>
      <v-btn
        v-if="!user"
        round
        dark
        class="hidden-md-and-down"
        @click="$router.push($i18n.path('signup'))"
      >{{$t("signup.title")}}</v-btn>
      <v-btn
        v-if="user"
        round
        dark
        class="hidden-md-and-down"
        @click="$router.push($i18n.path('myPage'))"
      >{{$t('myPage.title')}}</v-btn>
      <v-btn
        v-if="user"
        round
        dark
        class="hidden-md-and-down"
        @click="logout"
      >{{$t('logout.title')}}</v-btn>

      <v-toolbar-items>
        <v-menu offset-y>
          <template v-slot:activator="{on}">
            <v-btn flat dark v-on="on">
              {{langTitle}}
              <!-- <div style="font-size:32px">
                <flag squared :iso="iso" />
              </div>-->
            </v-btn>
          </template>
          <ButtonNation :langs="langs" @click="localeChange" />
        </v-menu>
      </v-toolbar-items>
      <v-toolbar-side-icon @click.stop="menuOn = !menuOn" class="hidden-lg-only"></v-toolbar-side-icon>
    </v-toolbar>
    <div
      v-if="menuOn"
      @click="menuOn = false"
      style="background-color:rgba( 0, 0, 0, 0.5 );height:100vh;"
    >
      <v-layout row class="hidden-lg-only">
        <v-flex xs12>
          <v-card>
            <v-list>
              <v-list-tile
                v-for="(item,index) in items"
                :key="index"
                @click="doAction(index)"
                text-xs-center
                no-action
              >
                <v-list-tile-content>
                  <v-list-tile-title v-text="item.id"></v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile
                v-if="!user"
                text-xs-center
                no-action
                @click="$router.push($i18n.path('login'))"
              >
                <v-list-tile-content>
                  <v-list-tile-title>{{$t("signin.title")}}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile
                v-if="!user"
                text-xs-center
                no-action
                @click="$router.push($i18n.path('signup'))"
              >
                <v-list-tile-content>
                  <v-list-tile-title>{{$t("signup.title")}}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile
                v-if="user"
                text-xs-center
                no-action
                @click="$router.push($i18n.path('myPage'))"
              >
                <v-list-tile-content>
                  <v-list-tile-title>{{$t('myPage.title')}}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile v-if="user" text-xs-center no-action @click="logout">
                <v-list-tile-content>
                  <v-list-tile-title>{{$t('logout.title')}}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-flex>
      </v-layout>
    </div>
    <v-dialog light v-model="dialog" scrollable width="600">
      <v-card>
        <v-card-title class="headline primary white--text" primary-title>공지사항</v-card-title>

        <v-card-text>
          안녕하세요. 고객님의 니즈를 충족시키기 위해 노력하는 크립템블 입니다.
          <br />먼저 고객님들께 안타까운 소식을 전해드리게 되어 고개숙여 사과 드립니다.
          <br />
          <br />완벽한 겜블사이트의 완성을 위해 온 역량을 쓰느라 부족한 인력을 완성도 있는 사전판매 사이트의 환경을 조성하기 위해 전문외주 업체에 맡김으로서 고객분들께 보답을 드리고자 하였으나, 작업 도중 불미스런 사고가 발생하여 현재 데이터가 유실 된 상황입니다.
          <br />외주 업체 측 에서도 계속 복구를 시도하였으나 이 마저도 실패한 상황 입니다.
          <br />
          <br />현재 사고 피해 상황은
          <br />
          <br />첫째, 사판사이트의 높은 완성도를 위하여 작업을 지시하였으나 지시사항을 제대로 이행하지 않아 공개 일정이 촉박해졌고, 여러 고민끝에 사판사이트의 공개와 일정이 미루어 지게 되었습니다
          <br />
          <br />둘째, 미리 데이터를 이중 백업하였으면 롤백을 시키면 되는 부분이나 이중 백업 진행하지 않아, DB가 유실되었습니다
          <br />
          <br />셋째, 동일업체에 백서마무리 또한 맡겼으나 타 동종업계 백서를 가져와 카피한 부분과 토큰의 정확한 쓰임세에대해 저희가 전달한 요약본데로 서술하지 않은점이 확인되었습니다
          <br />
          <br />고객님들께 최고의 환경을 선사 해 드리고 싶어 지속적인 조율을 통해 외주업체와 협의점을 찾았으나 제대로 이행하지 않았고 이로 인하여
          크립템블에 많은 손해를 끼쳤으며 현재 고소를 진행 중인 상황입니다.
          <br />
          <br />기존 회원가입 정보와, 레퍼럴 카운트 된 부분이 유실이 되어 아래와 같은 보상안을 제시 합니다.
          <br />
          <br />첫째, 기존 회원가입자 전원 재가입 시 기본 사전가입 바운티에 추가 보너스를 드리겠습니다. (기존 가입혜택의 2배 지급)
          <br />
          <br />▶ 보상안
          <br />
          <br />1천명까지 10,000 CRBT
          <br />2천명까지 8,000 CRBT
          <br />3천명까지 6,000 CRBT
          <br />5천명까지 3,000 CRBT
          <br />
          <br />둘째, 기존 레퍼럴 카운트의 경우 8위까지의 스냅샷 자료를 통하여 기존 인원 인정 및 1, 2, 3등에 해당하는 회원분들께는 보상안을 제시해드릴 예정 입니다.
          <br />
          <br />▶ 보상안
          <br />1등 iPod Touch 7세대 128GB 30만 CRTB
          2등 에어팟 2세대 무선 포함 15만 CRTB
          3등 에어팟 2세대 무선 포함 5만 CRTB
          <br />
          <br />다시한번 크립템블 고객님들께 피해를 끼쳐드린 점 사과 드리며, 조속한 피해 복구로 최고의 혜택을 드릴 수 있게 노력 하겠습니다.
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" flat @click="dialog = false">확인</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { State, Action, Getter } from "vuex-class";
import { NAME, ACTIONS, GETTERS } from "../store/modules/user/constants";
import { User, IUser } from "../store/modules/user/types";
import LOCALE from "../store/modules/locale/constants";
import ButtonNation from "./base/ButtonNation.vue";
import _ from "lodash";
import axios from "axios";

const namespace = { namespace: NAME };

@Component({
  components: {
    ButtonNation
  }
})
export default class HeaderComponent extends Vue {
  dialog = false;
  menuOn = false;
  items: Array<any> = [
    {
      id: "Home",
      isRouting: true,
      url: ""
    },
    { id: "Video", isRouting: false, url: "" },
    { id: "Cryptamble", isRouting: false, url: "" },
    { id: "Crowdsale", isRouting: false, url: "" },
    { id: "RoadMap", isRouting: false, url: "" },
    { id: "Event", isRouting: true, url: "event" }
  ];
  langs = [
    { title: "English", lang: "us", locale: "en-us" },
    { title: "한국어", lang: "kr", locale: "ko-kr" }
  ];
  langTitle = "";
  isMounted = false;

  @State(state => state.locale.locale)
  locale!: string;

  setLang(locale) {
    const lang = _.find<any>(this.langs, { locale: locale });

    this.langTitle = lang.title;
  }

  mounted() {
    this.isMounted = true;
  }
  doAction(index: number) {
    const { id, isRouting, url } = this.items[index];
    if (isRouting || this.$route.path !== this.$i18n["path"](url)) {
      return this.$router.push(this.$i18n["path"](url));
    }

    this["$vuetify"].goTo("#" + id.toLowerCase(), {
      Duration: 800
    });
  }

  logout() {
    this.logoutAction();

    this.$router.push(this.$i18n["path"](""));
  }

  @State(state => state.user.user)
  user!: IUser;

  @Action(ACTIONS.LOGOUT, namespace)
  logoutAction!: Function;

  @Action(ACTIONS.DELETE_USER, namespace)
  deleteUser!: Function;

  @Action(ACTIONS.DELETE_JWT, namespace)
  deleteJwt!: Function;

  @Action(ACTIONS.INIT, namespace)
  init!: Function;

  @Getter(GETTERS.GET_TOKEN, namespace)
  token!: string;

  localeChange(locale) {
    this.$router.push(this.$i18n["cahngeLocalePath"](locale));
    this.setLang(locale);
  }

  async created() {
    this.init();
    this.setLang(this.locale);

    const crowdsaleinfos = await this["$strapi"]["request"](
      "get",
      "/crowdsaleinfos"
    );

    this.dialog = crowdsaleinfos[0].notice;

    if (!this.token) return;

    try {
      const response = await axios.get(`${this["$apiUrl"]}/users/me`, {
        headers: {
          Authorization: this.token
        }
      });
    } catch (err) {
      this.deleteUser();
      this.deleteJwt();
    }
  }
}
</script>

<style scoped>
.fiexd {
  position: fixed;
  width: 100%;
  z-index: 99;
}
</style>
