<template>
  <div>
    <svg
      width="60"
      stroke="#ffffff"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 40 18.7"
    >
      <path class="st0" d="M4.2 9.4h32.1" />
      <path class="st1" d="M31.3 13.4l5-4-5-4" />
    </svg>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({});
</script>


<style scoped>
div {
  max-width: 100px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -20px;
}

@media screen and (max-width: 960px) {
  div {
    position: relative;
    top: auto;
    left: auto;
    margin: 45px auto;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
</style>


