<template>
  <v-list>
    <v-list-tile avatar v-for="(item,index) in langs" :key="index" @click="click(item.locale)">
      <v-list-tile-avatar>
        <flag :iso="item.lang" />
      </v-list-tile-avatar>
      <v-list-tile-title>{{item.title}}</v-list-tile-title>
    </v-list-tile>
  </v-list>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";
import _ from "lodash";

@Component
export default class ButtonNation extends Vue {
  @Prop([Array])
  langs!: Array<any>;

  click(locale) {
    this.$emit("click", locale);
  }
}
</script>

