<template>
  <div class="secondary">
    <v-img dark height="100%">
      <v-container fill-height style="margin-bottom:60px; margin-top:60px">
        <v-flex text-xs-center>
          <div id="clock">
            <p class="main-text">{{title}}</p>
            <p class="time">{{time}}</p>
            <p class="sub-text">{{description}}</p>
          </div>
        </v-flex>
      </v-container>
    </v-img>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";
import { clearInterval } from "timers";
import { State } from "vuex-class";
import _ from "lodash";
let week = ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"];

@Component
export default class Clock extends Vue {
  time = "";
  date = "";
  text = "";

  @Prop([String])
  title!: string;

  @Prop([String])
  description!: string;

  gradient = "ellipse at center,  #0a2e38  0%, #000000 70%";
  timerID: number;

  @Prop([String])
  endDate!: string;

  get endDateMoment() {
    return this["$moment"](this.endDate).locale(this.locale);
  }
  remaningDate;

  @State(state => state.locale.locale)
  locale!: string;

  countDown() {
    var cd = this["$moment"]().locale(this.locale);
    let endDate = this.endDateMoment;
    this.remaningDate = endDate["diff"](cd);

    if (this.remaningDate < 0) {
      this.time = "00 00:00:00";
      return window.clearInterval(this.timerID);
    }

    let duration = this["$moment"]["duration"](this.remaningDate);

    this.time = `${_.padStart(duration["days"](), 2, "0")} ${_.padStart(
      duration["hours"](),
      2,
      "0"
    )}:${_.padStart(duration["minutes"](), 2, "0")}:${_.padStart(
      duration["seconds"](),
      2,
      "0"
    )}`;
    // this.date =
    //   this.zeroPadding(cd.getFullYear(), 4) +
    //   "-" +
    //   this.zeroPadding(cd.getMonth() + 1, 2) +
    //   "-" +
    //   this.zeroPadding(cd.getDate(), 2) +
    //   " " +
    //   week[cd.getDay()];
  }
  created() {
    this.timerID = window.setInterval(this.countDown, 1000);
  }

  destroyed() {
    window.clearInterval(this.timerID);
  }
}
</script>



<style scoped lang="scss">
p {
  margin: 0;
  padding: 0;
}
#clock {
  font-family: "Share Tech Mono", monospace;
  color: #ffffff;
  text-align: center;
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);

  .time {
    @media screen and (max-width: $screen-sm-min) {
      font-size: 55px;
    }
    letter-spacing: 0.05em;
    padding: 5px 0;
    font-size: 80px;
  }

  .main-text {
    letter-spacing: 0.1em;
    font-size: 36px;
  }
  .sub-text {
    letter-spacing: 0.1em;
    font-size: 20px;
    padding: 20px 0 0;
  }
}
</style>
