<template>
  <v-btn :style="styles">
    <slot></slot>
  </v-btn>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";

@Component
export default class CustomBtn extends Vue {
  @Prop([String])
  private gradient!: String;

  styles() {
    let styleObject: any = {};
    if (this.gradient) {
      styleObject["linear-gradient"] = this.gradient;
    }
    return styleObject;
  }
}
</script>
