<template>
  <v-container>
    <v-layout row>
      <v-flex xs4 class="opacity line left-line"></v-flex>
      <v-flex xs4 class="opacity line center-line"></v-flex>
      <v-flex xs4 class="opacity line right-line"></v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({});
</script>



<style scoped>
.opacity {
  opacity: 0.2;
}
.left-line {
  background-image: linear-gradient(to left, #f0dd77, rgba(240, 221, 119, 0));
}

.center-line {
  background: #f0dd77;
}
.right-line {
  background-image: linear-gradient(to right, #f0dd77, rgba(240, 221, 119, 0));
}

.line {
  height: 1px;
}
</style>
