<template>
  <v-card flat>
    <v-layout row>
      <v-flex xs7>
        <v-card-title primary-title>
          <div>
            <div class="headline">{{header}}</div>
            <div>{{text}}</div>
          </div>
        </v-card-title>
      </v-flex>
      <v-flex xs5>
        <v-img :src="img" height="125px" contain></v-img>
      </v-flex>
    </v-layout>
    <!-- <v-card-actions class="pa-3">
      Rate this album
      <v-spacer></v-spacer>
      <v-icon>star_border</v-icon>
      <v-icon>star_border</v-icon>
      <v-icon>star_border</v-icon>
      <v-icon>star_border</v-icon>
      <v-icon>star_border</v-icon>
    </v-card-actions>-->
  </v-card>
</template>


<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";

@Component
export default class horizontalIconCard extends Vue {
  @Prop() private img!: string;
  @Prop() private header!: string;
  @Prop() private text!: string;
}
</script>
