<template>
  <v-card flat>
    <v-layout column>
      <v-flex xs5>
        <Arrow v-if="typeof arrow!=='undefined' || arrow" class="hidden-lg-only" />

        <v-img :src="img" height="125px" contain>
          <Arrow v-if="typeof arrow!=='undefined' || arrow" class="hidden-md-and-down" />
        </v-img>
      </v-flex>
      <v-flex xs7>
        <v-card-title primary-title>
          <v-container>
            <div v-if="header" class="headline">{{header}}</div>
            <div>{{text}}</div>
          </v-container>
        </v-card-title>
      </v-flex>
    </v-layout>
    <!-- <v-card-actions class="pa-3">
      Rate this album
      <v-spacer></v-spacer>
      <v-icon>star_border</v-icon>
      <v-icon>star_border</v-icon>
      <v-icon>star_border</v-icon>
      <v-icon>star_border</v-icon>
      <v-icon>star_border</v-icon>
    </v-card-actions>-->
  </v-card>
</template>


<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";
import Arrow from "./Arrow.vue";

@Component({
  components: {
    Arrow
  }
})
export default class VerticalIconCard extends Vue {
  @Prop() private img!: string;
  @Prop() private text!: string;
  @Prop() private header!: string;
  @Prop() private arrow!: boolean;
}
</script>
