<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import { State, Action } from "vuex-class";
import { ACTIONS, NAME } from "../store/modules/user/constants";

interface ICrowdsale {
  open?: {
    year: number | string;
    month: number | string;
    day: number | string;
    hour: number | string;
  };
  close?: {
    year: number | string;
    month: number | string;
    day: number | string;
    hour: number | string;
  };
  total?: String;
  hardCap?: String;
  softCap?: String;
  price?: number;
  symbol?: String;
  saleCount?: number;
  bonus?: number;
  enableGood?: string | String;
  startDate?: Object;
  marketPrice?: number;
  walletAddress?: string;
  icoAddress?: string;
}

@Component
export default class CrowdsaleMixin extends Vue {
  // @Action(ACTIONS.SET_CROWDSALE, {namespace: NAME})
  // setCrowd!: Function;

  @State(state => state.locale.locale)
  locale!: string;

  crowdsale: ICrowdsale = {};

  async callCrowdsale() {
    const response1 = await this["$strapi"]["request"](
      "get",
      "/crowdsaleinfos"
    );
    const response2: Array<any> = await this["$strapi"]["request"](
      "get",
      "/crowdsales"
    );

    this.crowdsale.hardCap = response1[0].hardCap;
    this.crowdsale.softCap = response1[0].softCap;
    this.crowdsale.price = response1[0].price;
    this.crowdsale.symbol = response1[0].symbol;
    this.crowdsale.total = response1[0].total;
    this.crowdsale.enableGood = response1[0].enableGood;
    this.crowdsale.startDate = response1[0].startDate;
    this.crowdsale.walletAddress = response1[0].walletAddress;
    this.crowdsale.icoAddress = response1[0].icoAddress;

    let now = this["$moment"]().locale(this.locale);
    let result = response2.find(el => {
      let open = this["$moment"](el.visibleOpen).locale(this.locale);
      let close = this["$moment"](el.visibleClose).locale(this.locale);

      return 0 >= open.diff(now) && 0 <= close.diff(now);
    });

    if (!result) {
      result = response2[response2.length - 1];
    }

    const open = this["$moment"](result.open).locale(this.locale);
    const close = this["$moment"](result.close).locale(this.locale);

    this.crowdsale.open = {
      year: open.format("YYYY"),
      month: open.format("MM"),
      day: open.format("DD"),
      hour: open.format("HH")
    };

    this.crowdsale.close = {
      year: close.format("YYYY"),
      month: close.format("MM"),
      day: close.format("DD"),
      hour: close.format("HH")
    };
    this.crowdsale.saleCount = result.saleCount;
    this.crowdsale.bonus = result.bonus;
    this.crowdsale.marketPrice = result.marketPrice;

    //this.setCrowd(this.crowdsale);
  }
}
</script>

