<template>
  <div>
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <v-flex sm8 md4>
          <v-card class="elevation-12 pa-2 rounded" light>
            <v-card-text>
              <v-form>
                <v-text-field
                  v-model="user.email"
                  name="email"
                  label="email"
                  type="text"
                  required
                  outline
                ></v-text-field>
                <v-text-field
                  v-model="user.password"
                  name="password"
                  label="Password"
                  type="password"
                  required
                  outline
                ></v-text-field>
                <v-text-field
                  v-model="user.passwordConfirm"
                  name="passwordConfirm"
                  label="PasswordConfirm"
                  type="password"
                  required
                  outline
                ></v-text-field>

                <v-text-field
                  v-model="user.referral"
                  name="referral"
                  label="Referral"
                  type="text"
                  :disabled="isReferralLock"
                  outline
                ></v-text-field>

                <facebook-account-kit
                  ref="accountKit"
                  appId="400446840583468"
                  version="v1.1"
                  loginType="PHONE"
                  state="somecrsf"
                  languege="ko-kr"
                >
                  <v-btn
                    block
                    :disabled="phone.isDisabled"
                    :color="phone.color"
                    @click="doFacebookAuth"
                  >{{phone.text}}</v-btn>
                </facebook-account-kit>

                <v-checkbox v-model="ischecked" color="primary" class="ma-0 pa-0">
                  <template v-slot:label>
                    <div @click.stop>
                      I agree that
                      <a @click="dialog=true" v-on="dialog">Policy.</a>
                    </div>
                  </template>
                </v-checkbox>
                <v-alert v-model="err.visible" type="error">{{err.message}}</v-alert>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn round color="primary" :disabled="!ischecked" @click="signup">signup</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <div class="text-xs-center">
      <v-dialog v-model="dialog" width="500" light>
        <v-card>
          <v-card-title class="headline primary white--text" primary-title>Privacy Policy</v-card-title>

          <v-card-text>
            <p v-html="$t('policy.html')"></p>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>


<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import Strapi from "strapi-sdk-javascript";
import { Action } from "vuex-class";
import { ACTIONS, NAME } from "../store/modules/user/constants";
import { IUser, User, SignupUser } from "../store/modules/user/types";
import LOCALE from "../store/modules/locale/constants";
import _ from "lodash";
import axios from "axios";

@Component
export default class Signup extends Vue {
  user: SignupUser = new SignupUser();
  err = {
    visible: false,
    message: ""
  };
  isReferralLock = false;

  phone = {
    color: "primary",
    code: "",
    text: "phone authentication",
    isAuth: false,
    isDisabled: false
  };

  created() {
    if (this.$route.params.code) {
      this.isReferralLock = true;
      this.user.referral = this.$route.params.code.toUpperCase();
    }
  }

  doFacebookAuth() {
    this.$refs.accountKit["login"](
      {
        countryCode: "+82",
        phoneNumber: "",
        display: "modal"
      },
      this.doFacebookAuthCallback
    );
  }
  doFacebookAuthCallback(response) {
    //code,state,status

    if (response.status === "PARTIALLY_AUTHENTICATED") {
      this.phone.code = response.code;
      this.phone.color = "success";
      this.phone.isDisabled = true;
      this.phone.isAuth = true;
      this.phone.text = "Phone verification completed";
    }
  }

  //http://localhost:1337
  ischecked = false;

  dialog = false;

  @Action(ACTIONS.SET_USER, { namespace: NAME })
  setUser!: Function;

  @Action(ACTIONS.SET_JWT, { namespace: NAME })
  setJWT!: Function;

  async signup() {
    try {
      if (this.user.password !== this.user.passwordConfirm)
        throw new Error("Password and password verification is not matched");
      if (!this.phone.isAuth)
        throw new Error("Phone verification is required.");
      // const result: any = await strapi.register(
      //   this.user.username,
      //   this.user.email,
      //   this.user.password
      // );

      this.user.username = this.user.email;
      const result: any = await axios
        .post(
          `${this["$apiUrl"]}/auth/local/register`,
          _.assign(this.user, { code: this.phone.code })
        )
        .catch(err => {
          throw err.response.data;
        });

      this.setUser(result.data.user);
      this.setJWT(result.data.jwt);
      this.$router.push(this.$i18n["path"](""));
    } catch (err) {
      this.err.visible = true;
      this.err.message = err.message;
    }
  }
}
</script>

<style scoped>
.rounded {
  border-radius: 15px;
  opacity: 0.8;
}
</style>