<template>
  <v-app dark class="secondary">
    <v-snackbar color="black" v-model="snackbar.show" :timeout="timeout">{{snackbar.text}}</v-snackbar>
    <Header v-if="$t" />
    <nuxt />
    <Footer />
  </v-app>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import Header from "../components/Header.vue";
import Footer from "../components/Footer.vue";
import { State } from "vuex-class";

@Component({
  components: {
    Header,
    Footer
  }
})
export default class DefaultLayout extends Vue {
  @State(state => state.dashboard.snackbar)
  snackbar!: object;

  timeout = 1000;
}
</script>


<style>
</style>

