<template>
  <v-container fill-height style="padding-top:60px;">
    <v-layout align-center>
      <v-flex text-xs-center>
        <h3 class="display-3 white--text">Ranking</h3>
        <v-card>
          <v-list three-line class="secondary">
            <v-container>
              <template v-for="(item,n) in users">
                <v-list-tile :key="n">
                  <v-layout align-center justify-center row fill-height>
                    <v-flex xs2>
                      <h1 class="headline">{{n+1}}</h1>
                    </v-flex>
                    <v-flex xs4>
                      <p>{{item.email}}</p>
                    </v-flex>
                    <v-flex xs4>
                      <p>{{item.referralCount}}</p>
                    </v-flex>

                    <v-flex xs2>
                      <v-icon :color="item.color" v-text="item.icon" />
                    </v-flex>
                  </v-layout>
                </v-list-tile>
                <v-divider :key="item.title" />
              </template>
            </v-container>
          </v-list>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
  <!-- <v-layout row>
    <v-flex xs12 sm6 offset-sm3>
      <v-card light>
        <v-list>
          <v-list-tile
            v-for="(item,index) in users"
            :key="item.email"
            avatar
          >
            <v-list-tile-action>
              <v-list-tile-title class="headline">{{index}}</v-list-tile-title>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>ID</v-list-tile-title>
              <v-list-tile-title v-text="item.email"></v-list-tile-title>
            </v-list-tile-content>

            <v-list-tile-content>
              <v-list-tile-title>추천수</v-list-tile-title>
              <v-list-tile-title v-text="item.referralCount"></v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-avatar>
              <v-icon color="yellow" class="fas fa-medal"/>
            </v-list-tile-avatar>
          </v-list-tile>
        </v-list>
      </v-card>
    </v-flex>
  </v-layout>-->
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import USER from "../../store/modules/user/constants";
import { State } from "vuex-class";
import _ from "lodash";

@Component
export default class Lists extends Vue {
  @State(state => state.user.user)
  user!: object;

  users = [];

  async created() {
    const users = await this["$strapi"].request(
      "get",
      "/users-permissions/users/show"
    );

    this.users = _.map(users, (user, index: number) => {
      if (index === 0) {
        return _.assign(user, {
          icon: "fas fa-medal",
          color: "yellow"
        });
      } else if (index == 1) {
        return _.assign(user, {
          icon: "fas fa-medal",
          color: "blue-grey lighten-4"
        });
      } else if (index == 2) {
        return _.assign(user, {
          icon: "fas fa-medal",
          color: "brown lighten-2"
        });
      } else {
        return _.assign(user, {
          icon: "far fa-star",
          color: "yellow"
        });
      }
    });
  }
}
</script>


<style scoped>
p {
  white-space: normal;
  word-break: break-all;
  word-break: break-word;
}
</style>
