<template>
  <div>
    <About />
    <Divider />
    <Video id="video" style="padding-top:60px; padding-bottom:135px" />
    <Divider />

    <Product id="cryptamble" style="padding-top:60px" />
    <Divider />

    <Crowdsale id="crowdsale" style="padding-top:60px" />
    <Divider />

    <SlideLogos />
    <Divider />

    <RoadMap id="roadmap" style="padding-top:60px" />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import Strapi from "strapi-sdk-javascript/build/main";
import { State, Getter, Mutation, Action } from "vuex-class";

import About from "../../components/home/About.vue";
import RoadMap from "../../components/home/RoadMap.vue";
import Product from "../../components/home/Product.vue";
import Video from "../../components/home/Video.vue";
import SlideLogos from "../../components/home/SlideLogos.vue";
import Divider from "../../components/base/Divider.vue";
import Crowdsale from "../../components/home/Crowdsale.vue";
//const strapi = new Strapi(<string>process.env.apiUrl);

@Component({
  components: {
    About,
    RoadMap,
    Product,
    Video,
    SlideLogos,
    Divider,
    Crowdsale
  }
})
export default class IndexPage extends Vue {
  // @Action(ACTIONS.EMPTY_LIST, { namespace: NAME })
  // emptyList!: Function;
  // @Action(ACTIONS.ADD, { namespace: NAME })
  // addList!: Function;
  // @Getter(GETTERS.LIST, { namespace: NAME })
  // list!: Array<any>;
  // get filteredList() {
  //   return this.list.filter(restaurant => {
  //     return restaurant.name.toLowerCase().includes(this.query.toLowerCase());
  //   });
  // }
  // async fetch({ store }) {
  //   store.dispatch(`${NAME}/${ACTIONS.EMPTY_LIST}`);
  //   const response = await strapi.request("post", "/graphql", {
  //     data: {
  //       query: `query {
  //         restaurants {
  //           id
  //           name
  //           description
  //           image {
  //             url
  //           }
  //         }
  //       }`
  //     }
  //   });
  //   response.data.restaurants.forEach(restaurant => {
  //     restaurant.image.url = `${process.env.apiUrl}${restaurant.image.url}`;
  //     store.dispatch(`${NAME}/${ACTIONS.ADD}`, {
  //       id: restaurant.id,
  //       ...restaurant
  //     });
  //   });
  // }
}
</script>

<style>
</style>

