<template>
  <v-img :gradient="gradient" :src="mainImage">
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
          <v-card class="elevation-12 pt-3 rounded" light>
            <!-- <v-toolbar dark primary>
              <v-toolbar-title>{{$t(isLogin ? "login.title":"forgotPassword.title")}}</v-toolbar-title>

              <v-spacer></v-spacer>
            </v-toolbar>-->
            <v-card-text>
              <v-form>
                <v-text-field
                  v-model="id"
                  prepend-icon="person"
                  name="login"
                  :label="isLogin ? 'Login':'Email'"
                  type="text"
                  outline
                ></v-text-field>
                <template v-if="isLogin">
                  <v-text-field
                    v-model="password"
                    id="password"
                    prepend-icon="lock"
                    name="password"
                    label="Password"
                    type="password"
                    outline
                  ></v-text-field>
                  <a @click="isLogin=!isLogin">Forgot Password</a>
                </template>
                <v-alert v-model="err.visible" :type="err.type">{{err.message}}</v-alert>
              </v-form>
            </v-card-text>
            <v-card-actions class="pb-3 px-3 pt-0">
              <v-btn v-if="!isLogin" round color="primary" @click="isLogin=!isLogin">Back</v-btn>
              <v-spacer></v-spacer>
              <v-btn round color="primary" @click="submit">{{isLogin ? 'Login':'send Email'}}</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-img>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import { Action } from "vuex-class";
import { ACTIONS, NAME } from "../../store/modules/user/constants";
import { IUserState } from "../../store/modules/user";

@Component
export default class Login extends Vue {
  @Action(ACTIONS.SET_USER, { namespace: NAME })
  setUser!: Function;

  @Action(ACTIONS.SET_JWT, { namespace: NAME })
  setJWT!: Function;
  gradient = "to bottom, rgba(7, 55, 79, 0.5), rgb(7, 55, 79)";

  mainImage = `${this["$apiUrl"]}/uploads/b44a113cc0ba41cdad3f0dfa3f72a79c.jpg`;
  id = "";
  password = "";
  err = {
    visible: false,
    message: "",
    type: "error"
  };

  forgotEmail = "";
  isLogin = true;

  async submit() {
    try {
      if (this.isLogin) {
        const result: any = await this["$strapi"].login(this.id, this.password);
        this.setUser(result.user);
        this.setJWT(result.jwt);

        this.$router.push(this.$i18n["path"](""));
      } else {
        const result: any = await this["$strapi"].forgotPassword(
          this.id,
          `${this["$baseUrl"]}/reset-password`
        );

        this.err = {
          visible: true,
          message: "sent an mail. Please check your email.",
          type: "success"
        };
      }
    } catch (err) {
      this.err.visible = true;
      this.err.message = err.message;
      this.err.type = "error";
    }
  }
}
</script>

<style scoped>
.rounded {
  border-radius: 15px;
  opacity: 0.8;
}
</style>

