<template>
  <v-img :gradient="gradient" :src="mainImage">
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
          <v-card class="elevation-12" light>
            <v-toolbar dark>
              <v-toolbar-title>MyPage</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
              <template v-if="user">
                <v-form>
                  <v-text-field label="Email" v-model="user.email" readonly type="text"></v-text-field>
                  <v-text-field
                    label="address"
                    v-model="user.address"
                    :append-outer-icon="isEditings.address ? 'mdi-check-outline' : 'mdi-circle-edit-outline'"
                    :readonly="!isEditings.address"
                    type="text"
                    @click:append-outer="isEditings.address = !isEditings.address"
                  ></v-text-field>
                  <v-text-field
                    label="referralCode"
                    v-model="user.referralCode"
                    readonly
                    type="text"
                  ></v-text-field>
                  <v-text-field
                    label="myReferralCount"
                    v-model="user.referralCount"
                    readonly
                    type="text"
                  ></v-text-field>
                  <v-text-field
                    id="referrallAddress"
                    append-outer-icon="far fa-copy"
                    label="referrallAddress"
                    readonly
                    v-model="referrallAddress"
                    @click:append-outer="copy('referrallAddress','referrallAddress')"
                    @click="copy('referrallAddress','referrallAddress')"
                    type="text"
                  ></v-text-field>
                </v-form>
                <!-- <v-list two-line>
                  <v-list-tile>
                    <v-list-tile-content>
                      <v-list-tile-title>email</v-list-tile-title>
                      <v-list-tile-content>
                        <v-list-tile-sub-title color="primary">{{user.email}}</v-list-tile-sub-title>
                      </v-list-tile-content>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-divider></v-divider>
                </v-list>

                <v-list two-line>
                  <v-list-tile>
                    <v-list-tile-content>
                      <v-list-tile-title>Your Wallet Address</v-list-tile-title>
                      <v-list-tile-content>
                        <v-text-field
                          v-model="user.address"
                          :append-outer-icon="isEditings.address ? 'mdi-check-outline' : 'mdi-circle-edit-outline'"
                          clear-icon="mdi-circle-edit-outline"
                          label
                          :readonly="!isEditings.address"
                          type="text"
                          @click:append-outer="isEditings.address = !isEditings.address"
                        ></v-text-field>
                      </v-list-tile-content>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-divider></v-divider>
                </v-list>-->
              </template>
              <v-alert v-model="err.visible" :type="err.type">{{err.message}}</v-alert>
            </v-card-text>
            <v-card-actions class="pb-3 px-3 pt-0">
              <v-btn
                v-if="wallet.visible"
                round
                color="success"
                @click="dialog=true"
              >{{$t("crowdsale.buyToken.title.syntax",crowdsale)}}</v-btn>

              <v-dialog v-model="dialog" width="700" v-show="wallet.visible">
                <v-card class="pa-4 rounded">
                  <v-form>
                    <v-container>
                      <v-layout row wrap>
                        <v-flex xs12 text-xs-center>
                          <v-text-field
                            :label="`Buy ${crowdsale.symbol} Address`"
                            v-model="crowdsale.icoAddress"
                            readonly
                            id="icoAddress"
                            append-outer-icon="far fa-copy"
                            @click="copy('icoAddress','crowdsale.icoAddress')"
                            @click:append-outer="copy('icoAddress','crowdsale.icoAddress')"
                            type="text"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs2>
                          <v-text-field label="ether" v-model="eth" outline></v-text-field>
                        </v-flex>
                        <v-flex xs1>
                          <h1>x</h1>
                        </v-flex>
                        <v-flex xs2>
                          <v-text-field
                            :label="crowdsale.symbol"
                            v-model="crowdsale.marketPrice"
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs1>
                          <h1>+</h1>
                        </v-flex>
                        <v-flex xs2>
                          <v-text-field label="bonus" v-model="bonusCal" readonly></v-text-field>
                        </v-flex>
                        <v-flex xs1>
                          <h1>=</h1>
                        </v-flex>
                        <v-flex xs2>
                          <v-text-field :label="crowdsale.symbol" v-model="cal" readonly></v-text-field>
                        </v-flex>
                        <!-- <v-flex xs12 text-xs-center>
                          <v-text-field
                            :label="`${crowdsale.symbol} ContractAddress`"
                            v-model="wallet.address"
                            readonly
                            id="walletAddress"
                            append-outer-icon="far fa-copy"
                            @click="copy('walletAddress','wallet.address')"
                            @click:append-outer="copy('walletAddress','wallet.address')"
                            type="text"
                          ></v-text-field>
                        </v-flex>-->
                      </v-layout>
                    </v-container>
                  </v-form>
                </v-card>
              </v-dialog>
              <v-spacer></v-spacer>
              <v-btn round color="primary" @click="submit">submit</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-img>
</template>
<script lang="ts">
import { Vue, Component, mixins } from "nuxt-property-decorator";
import { State, Getter, Action } from "vuex-class";
import { IUser } from "../../store/modules/user/types";
import { NAME, GETTERS, ACTIONS } from "../../store/modules/user/constants";
import DASHBOARD from "../../store/modules/dashboard/constants";
import Crowdsale from "../../mixins/Crowdsale.vue";

@Component
export default class MyPage extends mixins(Crowdsale) {
  eth = 1;

  bonusPrice = 0;
  get bonusCal() {
    return this.bonusPrice * this.eth;
  }

  get cal() {
    return this.eth * (this.crowdsale.marketPrice + this.bonusPrice);
  }

  @State(state => state.user.user)
  user!: IUser;

  @State(state => state.locale.locale)
  locale!: string;

  @Getter(GETTERS.GET_TOKEN, { namespace: NAME })
  token!: string;

  @Action(ACTIONS.SET_USER, { namespace: NAME })
  setUser!: Function;

  @Action(DASHBOARD.ACTIONS.SET_SNACBAR, { namespace: DASHBOARD.NAME })
  setSnackbar!: Function;

  wallet = {
    address: "",
    visible: false
  };
  walletAddress: string = "";

  isEditings = {
    address: false
  };

  dialog = false;
  snackbar = false;
  referrallAddress = "";

  gradient = "to bottom, rgba(7, 55, 79, 0.5), rgb(7, 55, 79)";

  mainImage = `${this["$apiUrl"]}/uploads/b44a113cc0ba41cdad3f0dfa3f72a79c.jpg`;
  err = {
    visible: false,
    message: "",
    type: "error"
  };

  async submit() {
    try {
      const result = await this["$strapi"]
        .request("post", "/users-permissions/users/me", {
          headers: {
            Authorization: this.token
          },
          data: this.user
        })
        .catch(err => {
          throw err.response;
        });

      this.setUser(result);
      this.err = {
        visible: true,
        message: "success",
        type: "success"
      };
    } catch (err) {
      this.err.visible = true;
      this.err.message = err.message;
      this.err.type = "error";
    }
  }

  async created() {
    this.referrallAddress = `${this["$baseUrl"]}/${this.locale}/signup/${this.user.referralCode}`;

    await this.callCrowdsale();

    var cd = this["$moment"]().locale(this.locale);
    let endDate = this["$moment"](this.crowdsale.startDate).locale(this.locale);

    if (endDate["diff"](cd) < 0) {
      this.wallet.address = this.crowdsale.walletAddress;
      this.wallet.visible = true;
    }

    this.bonusPrice = this.crowdsale.marketPrice * (this.crowdsale.bonus / 100);
  }

  copy(id: string, name: string) {
    document.getElementById(id)["select"]();
    this["$clipboard"](this[name]);
    this.setSnackbar({ show: true, text: "copy Success!" });
  }
}
</script>
