<template>
  <v-img :gradient="gradient" :src="mainImage">
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
          <v-card class="elevation-12 opacity" light>
            <v-toolbar dark primary>
              <v-toolbar-title>{{$t("resetPassword.title")}}</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
              <v-form>
                <v-text-field
                  v-model="password"
                  name="password"
                  label="Password"
                  type="password"
                  required
                  outline
                ></v-text-field>
                <v-text-field
                  v-model="passwordConfirm"
                  name="passwordConfirm"
                  label="PasswordConfirm"
                  type="password"
                  required
                  outline
                ></v-text-field>
                <v-alert v-model="err.visible" :type="err.type">{{err.message}}</v-alert>
              </v-form>
            </v-card-text>
            <v-card-actions class="pb-3 px-3 pt-0">
              <v-spacer></v-spacer>
              <v-btn round color="primary" @click="submit">reset Password</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
      <v-snackbar v-model="onSnackBar" bottom>success changed Password</v-snackbar>
    </v-container>
  </v-img>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import { Action } from "vuex-class";
import { ACTIONS, NAME } from "../../store/modules/user/constants";
import { IUserState } from "../../store/modules/user";
import { setTimeout } from "timers";

@Component
export default class resetPassword extends Vue {
  @Action(ACTIONS.SET_JWT, { namespace: NAME })
  setJWT!: Function;
  @Action(ACTIONS.SET_USER, { namespace: NAME })
  setUser!: Function;

  onSnackBar = false;
  gradient = "to bottom, rgba(7, 55, 79, 0.5), rgb(7, 55, 79)";

  mainImage = `${this["$apiUrl"]}/uploads/b44a113cc0ba41cdad3f0dfa3f72a79c.jpg`;
  err = {
    visible: false,
    message: "",
    type: "error"
  };

  password = "";
  passwordConfirm = "";

  code = "";

  async submit() {
    try {
      const result: any = await this["$strapi"].resetPassword(
        this.code,
        this.password,
        this.passwordConfirm
      );

      this.err = {
        visible: true,
        message: "Success changed your assword",
        type: "success"
      };

      setTimeout(() => {
        this.$router.push(this.$i18n["path"](""));
      }, 500);
    } catch (err) {
      this.err.visible = true;
      this.err.message = err.message;
      this.err.type = "error";
    }
  }

  async created() {
    try {
      if (!this.code) {
        throw "not found 404";
      }
    } catch (err) {
      this.err.visible = true;
      this.err.message = err.message;
    }
  }

  async asyncData({
    isDev,
    route,
    store,
    env,
    params,
    query,
    req,
    res,
    redirect,
    error
  }) {
    return {
      code: query.code
    };
  }
}
</script>

<style scoped>
.opacity {
  opacity: 0.8;
}
</style>

