<template>
  <v-img :gradient="gradient" :src="mainImage" style="margin-top:60px">
    <nuxt-child />
  </v-img>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";

@Component
export default class Signup extends Vue {
  gradient = "to bottom, rgba(7, 55, 79, 0.5), rgb(7, 55, 79)";

  mainImage = `${this["$apiUrl"]}/uploads/b44a113cc0ba41cdad3f0dfa3f72a79c.jpg`;
}
</script>
